{% extends 'base.html' %}


{% block style %}
<style>
	.post-url{
		color:black;
		text-decoration:none;
	}
	.post-url:hover{
		color:#f8c471;	

	}
	</style>
{% endblock style %}

{% block title %}
Day Archive
{% endblock title %}

{% block content %}
<h1>Post Archive for {{ day|date:'Y-m-d' }}</h1>
		<div>
			<ul>
				{% for post in object_list %}
				<li>
					{{ post.modify_dt|date:"Y-m-d" }}
					<a class="post-url" href="{{ post.get_absolute_url }}">
						<strong>{{ post.title }}</strong>
					</a>
					{% endfor %}
				</li>
			</ul>
		</div>
{% endblock content %}		
	</body>
</html>
