
{% extends 'base.html' %}

{% block style %}
<style>
	.page-move{
		color:black;
		text-decoration: none;
	}

	.page-move:hover{
		color:#f8c471;
	}
</style>
{% endblock style %}

{% block title %}
{{object.title}}
{% endblock title %}

{% block content %}
		<h2>{{object.title}}</h2>
		<p>{{object.modify_dt | date:"Y-m-d"}}</p>
		<hr />
		<div>
			<p>{{object.content|linebreaks}}</p>
		</div>
		<hr>
		<div>
				<p>
			{% if object.get_previous %}
			<a 
				class="page-move"
				href="{{object.get_previous.get_absolute_url}}"
				title="View previous post"
			>
				< {{object.get_previous}}
			</a>
			{% endif %}
			&nbsp
			&nbsp
			&nbsp
			{% if object.get_next %}
			<a 
			class="page-move"
			href="{{object.get_next.get_absolute_url}}" 
			title="View next post"
			>
				{{object.get_next}} >
			</a>
			{% endif %}
		</p>
		</div>
		
{% endblock content %}