{% extends 'base.html' %} 
{% load static %}
{% block style %}
<style>
img{
				width:100%;
				height: 70vh;
    		opacity:1 !importnat;
				object-fit: cover;	
			}
			.slider_item > div> .active{
				opacity :1;
			}
			.slider_item > div{
				width :100%;
				height: 100%;
			}
			.slider_item{
				position:relative;
			}
			.cat{
				position : absolute;
				width:100%;	
				height: 100%;
				opacity : 0;
				transition: opacity .5s ease-in-out;
				background-repeat: no-repeat;
				background-position: center;
  			background-size: cover;
			}
			.slider-item{
					position: absolute;
			}
			.btn-left, .btn-right{
				position:absolute;
				top:50%;
				width : 3%;
				height:10%;
				font-size:1.5rem;	
				font-weight:bold;
			}
			.btn-left{
				left:0;
			}
			.btn-right{
					right: 0;
			}
      .cat-imgs{
				width:100%;
				height:50%;
				text-align :center;
				margin: 0 auto;
			}
			.home-disc{
				display:flex;
			}
			.container-sm {
				text-align :center;
				margin-top:5%;
				height:20vh;
				width: 40%;
			}
			.cont-head{
				font-weight:bold;
			}
			.cat1{
				background-image:url("{% static 'images/cat1.jpg' %}")
			}
			.cat2{
				background-image:url("{% static 'images/cat2.jpg' %}")
			}
			.cat3{
				background-image:url("{% static 'images/cat3.jpg' %}")
			}
			.animate-like {
				-webkit-animation-name :heartAnimation;
				-webkit-animation-iteration-count: 1;
				-webkit-animation-fill-mode: forwards;
				-webkit-animation-duration: 0.65s; 

				animation-name: heartAnimation;
				animation-iteration-count: 1;
				animation-fill-mode: forwards;
				animation-duration: 0.65s;
			}
			@keyframes heartAnimation {
			0% {  transform: scale(30.0); }
			100% {  transform: scale(1.0); }
			}
</style>
{% endblock style %}


{% block title %}
Home
{% endblock title %} 
{% block content %}
  	<div class="cat-imgs slider_item">
		<div>
				<div class="cat1 cat">
					</div>

					<div class="cat2 cat">
					</div>

					<div class="cat3 cat">
					</div>
				</div>
			<button type="button" class="btn btn-warning btn-left"><</button>
			<button type="button" class="btn btn-warning btn-right">></button>
		</div>
			<div class="home-disc">
				<div class="container-sm">
					<h4 class="cont-head"> Nya-Jango에 오신 것을 환영합니다!</h4>
					<p>
						애옹이 사진들을 마음껏 맘끽하세요!
						<br>
						냥냥펀치 맞기 싫으면 아래 버튼을 한번 눌러 보라옹!
					</p>
					<button class="btn btn-warning btn-cat">
						<i class="bi bi-heart-fill" aria-hidden="true"> </i> 눌러(Push)!
					</button>
				</div>
				<div class="container-sm">
					<h4 class="cont-head"> 홈페이지 제작 툴🔧</h4>
					<span>1. html</span>
					<br>
					<span>2. css</span>
					<br>
					<span>3. 파이썬</span>
					<br>
					<span>4. Django Framework</span>
				</div>
			</div>
			
{% endblock content %}

{% block jsCode %}
 <script src="{% static 'scripts/catSlider.js' %}" ></script>
{% endblock jsCode %}


